# 1

In [1]:
import pandas as pd

In [2]:
data=[4,8,15,16,23,42]
data_series=pd.Series(data)

In [3]:
print(data_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
print(type(data_series))

<class 'pandas.core.series.Series'>

# 2

In [7]:
l=list(range(1,20,2))
l1=pd.Series(l)
print(l1)

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
8    17
9    19
dtype: int64

# 3

In [12]:
Name=['Alice','Bob','Claire']
Age=[25,30,27]
Gender=['Female','Male','Female']

dict={"Name":Name,"Age":Age,"Gender":Gender}

df=pd.DataFrame(dict)

In [16]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [15]:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [14]:
type(df)

pandas.core.frame.DataFrame

# 4

in the table, a Pandas Series is a 1D array of data, but a single-column DataFrame is a 2D table with one column. The main distinction between the two is this. For a single-column DataFrame, an index can be optional, but a Series has to have an index defined.

A single-column DataFrame comprises a single column with a label while a Series lacks any columns or column labels. Finally, a single-column DataFrame also provides an optional name for the column, whereas a Series can also include an optional name

In [18]:
# For instance
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [19]:
# this df is an data frame

In [22]:
data=df['Name']
data

0     Alice
1       Bob
2    Claire
Name: Name, dtype: object

In [24]:
# this is pandas series
type(data)

pandas.core.series.Series

# 5

Remove Column from pandas DataFrame

Add New Column to pandas DataFrame

Merge Two pandas DataFrames

Rename Columns of pandas DataFrame

Remove Row from pandas DataFrame

Append Rows of Two pandas DataFrames

Add New Row to pandas DataFrame

Sort Rows of pandas DataFrame

In [25]:
data = pd.DataFrame({"x1":["x", "y", "x", "y", "x", "x"],  # Create pandas DataFrame
                     "x2":range(15, 21),
                     "x3":["a", "b", "c", "d", "e", "f"],
                     "x4":range(20, 8, - 2)})
print(data)                                                # Print pandas DataFrame

  x1  x2 x3  x4
0  x  15  a  20
1  y  16  b  18
2  x  17  c  16
3  y  18  d  14
4  x  19  e  12
5  x  20  f  10

In [26]:
# Remove Column from pandas DataFrame
data_drop = data.drop("x3", axis = 1)                      # Drop variable from DataFrame
print(data_drop)

  x1  x2  x4
0  x  15  20
1  y  16  18
2  x  17  16
3  y  18  14
4  x  19  12
5  x  20  10

In [27]:
# Add New Column to pandas DataFrame
x5 = ["foo", "bar", "foo", "bar", "foo", "bar"]            # Create list
print(x5)

['foo', 'bar', 'foo', 'bar', 'foo', 'bar']

In [28]:
data_add = data.assign(x5 = x5)                            # Add new column
print(data_add)

  x1  x2 x3  x4   x5
0  x  15  a  20  foo
1  y  16  b  18  bar
2  x  17  c  16  foo
3  y  18  d  14  bar
4  x  19  e  12  foo
5  x  20  f  10  bar

In [29]:
# Merge Two pandas DataFrames
data_add = pd.DataFrame({"x3":["c", "d", "e", "f", "g", "h"], # Create pandas DataFrame for merge
                         "y1":range(101, 107),
                         "y2":["foo", "bar", "foo", "bar", "foo", "foo"]})
print(data_add)

  x3   y1   y2
0  c  101  foo
1  d  102  bar
2  e  103  foo
3  f  104  bar
4  g  105  foo
5  h  106  foo

In [30]:
data_merge = pd.merge(data,                                # Merge two pandas DataFrames
                      data_add,
                      on = "x3",
                      how = "outer")
print(data_merge)

    x1    x2 x3    x4     y1   y2
0    x  15.0  a  20.0    NaN  NaN
1    y  16.0  b  18.0    NaN  NaN
2    x  17.0  c  16.0  101.0  foo
3    y  18.0  d  14.0  102.0  bar
4    x  19.0  e  12.0  103.0  foo
5    x  20.0  f  10.0  104.0  bar
6  NaN   NaN  g   NaN  105.0  foo
7  NaN   NaN  h   NaN  106.0  foo

In [31]:
# Rename Columns of pandas DataFrame
data_rename = data.copy()                                  # Create copy of DataFrame
data_rename.columns = ["col1", "col2", "col3", "col4"]     # Use columns attribute
print(data_rename)

  col1  col2 col3  col4
0    x    15    a    20
1    y    16    b    18
2    x    17    c    16
3    y    18    d    14
4    x    19    e    12
5    x    20    f    10

In [32]:
#  Remove Row from pandas DataFrame
data_remove = data[data.x1 == "x"]                         # Remove certain rows
print(data_remove)

  x1  x2 x3  x4
0  x  15  a  20
2  x  17  c  16
4  x  19  e  12
5  x  20  f  10

In [33]:
# Add New Row to pandas DataFrame
new_row = ["a", "b", "c", "d"]                             # Create list
print(new_row)

['a', 'b', 'c', 'd']

In [34]:
data_new3 = data.copy()                                    # Create copy of DataFrame
data_new3.loc[6] = new_row                                 # Append new row to DataFrame
print(data_new3)

  x1  x2 x3  x4
0  x  15  a  20
1  y  16  b  18
2  x  17  c  16
3  y  18  d  14
4  x  19  e  12
5  x  20  f  10
6  a   b  c   d

In [35]:
# Append Rows of Two pandas DataFrames
data_new_rows = pd.DataFrame({"x1":["foo", "foo", "foo", "bar", "bar"], # Create pandas DataFrame
                              "x2":range(5, 10),
                              "x3":["a", "s", "d", "f", "g"],
                              "x4":range(20, 15, - 1)})
print(data_new_rows)

    x1  x2 x3  x4
0  foo   5  a  20
1  foo   6  s  19
2  foo   7  d  18
3  bar   8  f  17
4  bar   9  g  16

In [36]:
data_append = pd.concat([data,                             # Append DataFrames
                         data_new_rows],
                        ignore_index = True,
                        sort = False)
print(data_append)

     x1  x2 x3  x4
0     x  15  a  20
1     y  16  b  18
2     x  17  c  16
3     y  18  d  14
4     x  19  e  12
5     x  20  f  10
6   foo   5  a  20
7   foo   6  s  19
8   foo   7  d  18
9   bar   8  f  17
10  bar   9  g  16

In [38]:
# Sort Rows of pandas DataFrame
data_sort = data.copy()                                    # Duplicate DataFrame
data_sort = data_sort.sort_values("x4")                    # Order DataFrame
print(data_sort)

  x1  x2 x3  x4
5  x  20  f  10
4  x  19  e  12
3  y  18  d  14
2  x  17  c  16
1  y  16  b  18
0  x  15  a  20

# 6

 Panel can be illustrated as a container of a DataFrame. In Panel Data and size are mutable

# 7

In [39]:
def createSeries (series_list):
   
  # create a series
  series_list = pd.Series(series_list)
   
  return series_list
 
# create a series of students
students = createSeries(['ABC', 'DEF',
                         'GHI', 'JKL',
                         'MNO', 'PQR']) 
# create a series of subjects
subject = createSeries(['C++', 'C#',
                        'RUBY', 'SWIFT',
                        'GO', 'PYTHON'])
# create a series of marks
marks = createSeries([90, 30,
                      50, 70,
                      80, 60])
# create a dictionary
data = {"students": students,
        "subject": subject,
        "marks": marks}
 
# Concatenating the series side
# by side as depicted by axis=1
# If you want to concatenate the
# series one below the other
# change the axis to zero.
df = pd.concat(data,
               axis = 1)
 
# show the dataframe
df

  students subject  marks
0      ABC     C++     90
1      DEF      C#     30
2      GHI    RUBY     50
3      JKL   SWIFT     70
4      MNO      GO     80
5      PQR  PYTHON     60

Using pandas.concat().

This method does all of the heavy lifting of performing concatenation operations along an axis while performing optional set logic (union or intersection) of the indexes (if any) on the other axes.