In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("services.csv")

In [3]:
df;

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [6]:
type(df['keywords'])

pandas.core.series.Series

In [7]:
type(df[['keywords']])

pandas.core.frame.DataFrame

In [8]:
df[['keywords','languages']].head(2)
# to select multiple columns pass the arguments of columns as list

                                            keywords languages
0  ADULT PROTECTION AND CARE SERVICES, Meal Sites...       NaN
1  EMPLOYMENT/TRAINING SERVICES, Job Development,...       NaN

In [9]:
df.dtypes.head(2)
# for indecating the data types of induvidal columns

id             int64
location_id    int64
dtype: object

In [10]:
df1=pd.read_excel('LUSID Excel - Setting up your market data.xlsx')

In [11]:
df1;

In [12]:
type(df1)

pandas.core.frame.DataFrame

In [13]:
df1.dtypes.head(2)

Unnamed: 0    float64
Unnamed: 1    float64
dtype: object

In [14]:
df1.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [15]:
df1[['Unnamed: 6', 'Unnamed: 7']].head(2)

   Unnamed: 6 Unnamed: 7
0         NaN        NaN
1         NaN        NaN

In [16]:
# Reading a data file from the internet url
df2=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [17]:
df2.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [18]:
type(df2)
# ots data type is also data frame so the data can be handled in the same way

pandas.core.frame.DataFrame

In [19]:
# reading structures data from a website url
url_data=pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")
# need to import liberary lxml to rad the data from html page

In [20]:
url_data;

In [21]:
type(url_data)

list

In [22]:
len(url_data)

1

In [23]:
df3=url_data[0]

In [24]:
df3;

In [25]:
type(df3)
# This data is of type dataframe so this data can be handled in semilar way as other pandas data

pandas.core.frame.DataFrame

In [26]:
len(df3)

675

In [27]:
df.head();

In [28]:
df.head(10);

In [29]:
len(df3.head())

5

In [30]:
df3.tail()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [31]:
df3.tail(10);

In [32]:
df3.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [33]:
df3.dtypes.head(2)

Rk        object
Player    object
dtype: object

In [34]:
df3.to_csv("players_data_1.csv")

In [35]:
df3.to_csv("players_data_2.csv",index=False)